# Vorbereitung des Datensatzes

In [17]:
import pandas as pd
import numpy as np

In der Folge werden keine Ländergruppen und nur die Jahre 1990 bis 2020 betrachet. Von dem verbliebenen Datensatz werden nur jene Indikatoren behalten, die mindesten 20% gefüllt sind.

In [18]:
def reset_base():
    pd.set_option('display.float_format', lambda x: '%.4f' % x)
    idx = pd.IndexSlice
    
    #loading original data
    base= pd.read_csv('../Data/WDIData.csv') #see downloads worldbank
    base = base.drop(['Country Code', 'Indicator Code', 'Unnamed: 66'], axis=1) #name of column 'Unnamed: 66' may differ
        
    #dropping regions
    countries = pd.read_csv('additional_data/countries.csv').drop('Unnamed: 0', axis=1)
    base = pd.merge(base, countries, how='left')
    base = base.loc[base['Type'] != 'Region'].drop('Type', axis=1)
    
    #keeping only years 1990-2020
    base = base.set_index(['Country Name', 'Indicator Name'])
    base = base.loc[:, '1990':'2020']

    #dropping countries and territories with less than 1 million occupants
    x = base.index.get_level_values('Country Name').unique()[base.loc[idx[:, 'Population, total'], '2014'].values > 1000000]
    base = base[base.index.get_level_values('Country Name').isin(x) == True]
    
    #dropping all indicators with more then 50% missing values
    keep = pd.DataFrame(pd.DataFrame(base.isna().groupby('Indicator Name').sum()).T.sum(), columns=['NaN'])
    keep = keep.loc[keep['NaN'] <len(base.index.get_level_values('Country Name').unique())*len(base.columns)*0.5] #kept if 80% of entries are not NaN
    base = base.loc[idx[:, keep.index], :]
    return base

In [19]:
base = reset_base()

In [20]:
print(f'Number of countries remaining: {len(base.index.get_level_values("Country Name").unique())}')
print(f'Number of indicators remaining: {len(base.index.get_level_values("Indicator Name").unique())}')

Number of countries remaining: 158
Number of indicators remaining: 832

In [21]:
print(f"Number of NaNs still in Dataset: {base.isna().sum().sum()}")
print(f"Percentage of missing values: {base.isna().sum().sum()/base.notna().sum().sum()}")

Number of NaNs still in Dataset: 876209
Percentage of missing values: 0.2739071569935794

Die verbliebenen Indikatoren werden hier aufgeführt. Dazu ist zu sehen, wie viele Einträge für diesen Indikator in den Jahren 1990 bis 2020 fehlen und in welche thematischen Bereiche die Indikatoren fallen. Aus dieser Auslistung wurden nun manuel Indikatoren ausgewählt, die 
- verhältnismäßig gut ausgefüllt sind,
- alle Themenbereiche abdecken und 
- Relevanz für die kommenden Analysen haben.

In [22]:
def get_indicator_nans(df):
    df = df.apply(lambda x: x.replace('"', ''))
    df = df.reset_index()
    size = df.loc[df['Indicator Name']==df['Indicator Name'].unique()[1]].size
    
    
    topics = pd.read_csv('additional_data/topics_done.csv')
        
    nan = [df.loc[df['Indicator Name']==i].isna().sum().sum() for i in df['Indicator Name'].unique()]
    n = [df.loc[df['Indicator Name']==i].notna().sum().sum() for i in df['Indicator Name'].unique()]
    
    df = pd.DataFrame({'indicators':df['Indicator Name'].unique(), 'nan':nan, 'n':n})
    new = pd.merge(df.sort_values('nan'), topics, how='left', left_on='indicators', right_on='Indicator Name')
    new.drop(['Unnamed: 0', 'Indicator Name','Indicator Code'], inplace=True, axis=1)
    new.set_index(['Topic description', 'indicators']).to_csv('additional_data/low_nan_high_nan.csv', sep=';', decimal=',')
    return new

get_indicator_nans(base)

,indicators,nan,n,Topic description
0,"Population, total",3,5211,Social: population
1,Population growth (annual %),6,5208,Social: population
2,Land area (sq. km),24,5190,Agriculture
3,Population density (people per sq. km of land ...,27,5187,Environment: general
4,Population ages 65 and above (% of total popul...,31,5183,Social: population
...,...,...,...,...
827,Subsidies and other transfers (current LCU),2401,2813,Government finance: IMF
828,"Government expenditure on education, total (% ...",2408,2806,Social: education
829,"Adjusted net enrollment rate, primary (% of pr...",2409,2805,Social: education
830,Subsidies and other transfers (% of expense),2433,2781,Government finance: IMF
831,Other expense (current LCU),2436,2778,Government finance: IMF

Die manuell ausgewählten Indikatoren werden hier eingelesen.

In [23]:
new = pd.read_csv('additional_data/chosen_indicators.csv', sep=';')
new.dropna(subset=['keep'], inplace=True)
new.drop('keep', axis=1, inplace=True)

In [24]:
base = base.loc[base.index.isin(new['indicators'], level='Indicator Name')]

In [25]:
print(f"Percentage of missing values: {base.isna().sum().sum()/base.notna().sum().sum()}")

Percentage of missing values: 0.26699620451413547

In [26]:
print(f'Number of countries remaining: {len(base.index.get_level_values("Country Name").unique())}')
print(f'Number of indicators remaining: {len(base.index.get_level_values("Indicator Name").unique())}')

Number of countries remaining: 158
Number of indicators remaining: 165

Um nicht in allen künftigen Analysen den Gesammtdatensatz einlesen und wie hier transformieren zu müssen, wird der transformierte Datensatz gespeichert.

In [27]:
#base.to_csv('additional_data/base.csv')